body {
  background-color: #121212;
  color: #ffffff;
}

#mainDiv {
  background-color: #1e1e1e;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

input,
select {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #555555;
}

#buttonDiv button {
  background-color: #f0fc86;
  color: black;
}

#buttonDiv button:hover {
  background-color: #e4e71b;
}

#boton-dark-mode.activado {
  background-color: #ffee00;
}

#boton-dark-mode.activado:hover {
  background-color: #badd1d;
}
